<form action="/dashboard/addhospital" method="POST">
  <div class="field">
    <label class="label">Hospital Name</label>
    <input class="input" type="text" placeholder="Enter hospital name" name="name">
  </div>
  <button class="button is-link">Add Hospital</button>
</form>
