<form action="/dashboard/adddepartment" method="POST">
  <div class="field">
    <label class="label">Department Title</label> <input class="input" type="text" placeholder="Enter department title" name="title">
  </div>
  <button class="button is-link">Add Department</button>
</form>
